.display_none {
  display: none !important; }

.course-content ul.topics {
  margin: 0;
  list-style: none; }

.course-content ul.topics li.section .content {
  margin: 0 40px; }

.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
  width: 40px;
  padding: 0 6px; }

.course-content ul.topics li.section .left {
  padding-top: 22px;
  text-align: right; }

.jsenabled .course-content ul.topics li.section .left,
.jsenabled .course-content ul.topics li.section .right {
  width: auto; }

.course-content ul.topics li.section .left .section-handle img.icon {
  padding: 0;
  vertical-align: baseline; }

.course-content ul.topics li.section .section_action_menu .textmenu,
.course-content ul.topics li.section .section_action_menu .menu-action-text {
  white-space: nowrap; }

.format-picturelink #region-main {
  background-color: var(--picturelink-bg-color) !important; }

.format-picturelink .picturelink-wrapper {
  background-color: var(--picturelink-bg-color);
  width: 100vw;
  margin-left: calc(672px - 50vw); }

.format-picturelink .picturelink {
  border-top: 1px solid #ddd;
  position: relative;
  width: 100%;
  min-height: 75vh;
  margin-top: 100px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 790px;
  margin-right: auto;
  margin-left: auto; }
  .format-picturelink .picturelink .picturelink_img {
    height: auto !important;
    width: 100%; }
  .format-picturelink .picturelink .picturelink_pinned {
    position: relative;
    top: -94px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
  .format-picturelink .picturelink_hide > .picturelink_item {
    opacity: 0 !important; }
  .format-picturelink .picturelink .far,
  .format-picturelink .picturelink .fas {
    font-family: FontAwesome;
    padding-left: 10px;
    transition: 0.2s;
    margin-left: auto;
    font-style: normal; }
    .format-picturelink .picturelink .far:hover,
    .format-picturelink .picturelink .fas:hover {
      color: #0096db; }
  .format-picturelink .picturelink .fas {
    margin-left: inherit;
    padding-left: 20px; }
  .format-picturelink .picturelink_item {
    opacity: 0;
    position: absolute;
    background-color: #fff;
    border: 2px solid #19284f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.5s; }
    .format-picturelink .picturelink_item.p_new {
      background-color: #83d3ae; }
      .format-picturelink .picturelink_item.p_new.p_hide {
        background-color: #19284f; }
      .format-picturelink .picturelink_item.p_new.p_locked {
        background: url([[pix:format_picturelink|lock]]) no-repeat center;
        background-size: cover; }
      .format-picturelink .picturelink_item.p_new.completed {
        background: url([[pix:format_picturelink|completed]]) no-repeat center; }
  .format-picturelink .picturelink a[data-visibility="0"] {
    display: none; }
  .format-picturelink .picturelink_section {
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #fff; }
  .format-picturelink .picturelink .completed {
    background: url([[pix:format_picturelink|completed]]) no-repeat center; }
  .format-picturelink .picturelink .p_hide {
    background-color: #19284f; }
  .format-picturelink .picturelink .p_locked {
    background: url([[pix:format_picturelink|lock]]) no-repeat center;
    background-size: cover; }
  .format-picturelink .picturelink .picturelink_settings {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    top: -34px;
    left: 0; }
  .format-picturelink .picturelink .picturelink_admin {
    position: relative;
    margin-right: 2rem;
    line-height: 2rem;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
    border: 1px solid #ddd;
    -ms-flex-align: center;
        align-items: center;
    background-color: #fff;
    transition: 0.2s; }
    .format-picturelink .picturelink .picturelink_admin.active .picturelink_toggle {
      background-color: #28a745; }
    .format-picturelink .picturelink .picturelink_admin.active .picturelink_pin {
      transform: translateX(8px); }
  .format-picturelink .picturelink .picturelink_toggle {
    width: 30px;
    height: 20px;
    background-color: #dc3545;
    border-radius: 10px;
    margin-right: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 5px; }
    .format-picturelink .picturelink .picturelink_toggle .picturelink_pin {
      width: 12px;
      height: 12px;
      position: relative;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.2s;
      transform: translateX(0); }
  .format-picturelink .picturelink .allactivities-wrapper .select-icon,
  .format-picturelink .picturelink .allsection-wrapper .select-icon {
    transition: 0.2s;
    border: none;
    width: 36px;
    height: 36px;
    background: url([[pix:format_picturelink|open-blue]]) no-repeat center;
    background-size: 36px;
    position: absolute;
    right: 0;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%); }
  .format-picturelink .picturelink .allactivities-wrapper .allactivities,
  .format-picturelink .picturelink .allactivities-wrapper .allsections,
  .format-picturelink .picturelink .allsection-wrapper .allactivities,
  .format-picturelink .picturelink .allsection-wrapper .allsections {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 2rem;
    color: #19284f;
    padding-right: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .format-picturelink .picturelink .allactivities-wrapper .allactivities .section-name,
    .format-picturelink .picturelink .allactivities-wrapper .allsections .section-name,
    .format-picturelink .picturelink .allsection-wrapper .allactivities .section-name,
    .format-picturelink .picturelink .allsection-wrapper .allsections .section-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .format-picturelink .picturelink .allactivities-wrapper .allactivities:active .select-icon,
    .format-picturelink .picturelink .allactivities-wrapper .allsections:active .select-icon,
    .format-picturelink .picturelink .allsection-wrapper .allactivities:active .select-icon,
    .format-picturelink .picturelink .allsection-wrapper .allsections:active .select-icon {
      top: 60%; }
  .format-picturelink .picturelink .allactivities-wrapper .section-wrap,
  .format-picturelink .picturelink .allsection-wrapper .section-wrap {
    top: 2rem;
    left: 0;
    background-color: #fff;
    display: none;
    margin-top: 5px;
    z-index: 1000;
    position: absolute;
    max-height: 40vh;
    overflow: auto;
    border: 1px solid #ddd; }
    .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items,
    .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      box-shadow: 0 0 7px #9c9c9c; }
      .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items .section-item,
      .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items .section-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        padding: 0 1rem;
        font-size: 18px;
        line-height: 40px; }
        .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items .section-item:hover,
        .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items .section-item:hover {
          background-color: #cfdcfd; }
        .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items .section-item-text,
        .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items .section-item-text {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 160px; }
        .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items .section-item a,
        .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items .section-item a {
          transition: 0.2s;
          padding-left: 20px;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        .format-picturelink .picturelink .allactivities-wrapper .section-wrap .section-items .section-item a:hover,
        .format-picturelink .picturelink .allsection-wrapper .section-wrap .section-items .section-item a:hover {
          color: #fff;
          cursor: pointer;
          text-decoration: none;
          background-color: #0096db; }

.format-picturelink .picturelink_item[data-pinned="1"] {
  opacity: 1;
  color: #fff !important;
  background-color: #19284f !important;
  background-image: url([[pix:format_picturelink|pushpin]]);
  background-size: 10%;
  background-position: 5px;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  height: 55px;
  line-height: 22px;
  padding: 0 22px;
  width: 170px;
  position: static;
  padding-right: 5px; }

.format-picturelink .picturelink_item[data-visibility="0"] {
  opacity: 0; }

.format-picturelink .picturelink_item[data-visibility="1"] {
  opacity: 1; }

.format-picturelink .completionprogressid,
.format-picturelink .topics {
  display: none; }

.format-picturelink .single-section {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  .format-picturelink .single-section .topics {
    display: block; }

[dir="rtl"]
.format-picturelink
.picturelink
.picturelink_admin.active
.picturelink_pin {
  transform: translateX(-8px); }

.format-picturelink.editing .completionprogressid,
.format-picturelink.editing .topics {
  display: block;
  background-color: #fff; }

.format-picturelink .course-content .section-navigation.navigationtitle .mdl-left,
.format-picturelink .course-content .section-navigation.navigationtitle .mdl-right {
  display: none; }

.format-picturelink .course-content .section-navigation.mdl-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .format-picturelink .course-content .section-navigation.mdl-bottom div.mdl-align {
    -ms-flex-order: 1;
        order: 1;
    margin-right: 100%;
    margin-bottom: 10px; }
  .format-picturelink .course-content .section-navigation.mdl-bottom span.mdl-left {
    -ms-flex-order: 2;
        order: 2; }
  .format-picturelink .course-content .section-navigation.mdl-bottom span.mdl-right {
    -ms-flex-order: 3;
        order: 3; }

.tooltipmodal {
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 250px;
  min-height: 90px;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  border: 1px solid #19284f; }
  .tooltipmodal .header {
    background-color: #373a3c;
    color: #fff;
    padding: 5px 10px; }
  .tooltipmodal .content {
    padding: 5px 10px; }
  @media (max-width: 1344px) {

  .format-picturelink .picturelink-wrapper {
    width: auto;
    margin-left: auto; } }
