.tooltipmodal {
  position: absolute;
  z-index: 9999;
  background: #fff;
  width: 280px;
  min-height: 100px;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  border: 1px solid #19284f;
  .header {
    background-color: #373a3c;
    color: #fff;
    padding: 5px 10px;
  }
  .content {
    padding: 5px 10px;
  }
}
